In [1]:
import pandas as pd
import sqlalchemy as sq
import numpy as np
import matplotlib.pyplot as plt

# Connect to database

In [7]:
engine = sq.create_engine('sqlite:///OKC_Processed_DB.db') #create connection to the database

# Get tables

In [ ]:
df_num = pd.read_sql_table('numerical_attributes',engine)
df_rsp = pd.read_sql_table('question_responses',engine)
df_att = pd.read_sql_table('attributes_preferences',engine)
df_tst = pd.read_sql_table('test_responses',engine)
df_key0 = pd.read_sql_table('questions_key',engine)
df_key = df_key0[df_key0.loc[:,'N']>=31548]

# Helper Functions

This function takes a dataframe and a string, and returns a new dataframe with all columns with headers that begin with that string

In [12]:
def get_columns(df,key):
    headers_all = list(df.columns)
    headers = [name for name in headers_all if name[0:len(key)]==key]
    return df.loc[:,headers]
#Example
get_columns(df_num,'d_').tail()

      d_income d_age
68366     None    48
68367     None    32
68368     None    24
68369     None    33
68370     None    49

This function takes a question key table + a question key, and return the question associated with the key

In [18]:
def get_question(df,key):
    return df.loc[df.iloc[:,0]==key,:]
#Example
get_question(df_key,'q145537')

,Unnamed: 0,text,option_1,option_2,option_3,option_4,N,Type,Order,Keywords
2615,q145537,Are you into BDSM? are you a dom or sub,Yes! dom,"No, its wierd.",maybe with the right person and comfort level,Yes! sub,148,O,"2, 3, (1, 4)",sex/intimacy; BDSM

This function takes a keyword and searches for questions that contain such keyword in the question text

In [62]:
def search_questions(df,key):
    indexlist = []
    key = str.upper(key)
    df.fillna(value=0,inplace=True)
    for i in range(len(df_key.iloc[:,1])):
        if key in str.upper(str(df_key.iloc[i,1])):
            indexlist.append(i)
        elif key in str.upper(str(df_key.iloc[i,2])):
            indexlist.append(i)
        elif key in str.upper(str(df_key.iloc[i,3])):
            indexlist.append(i)
        elif key in str.upper(str(df_key.iloc[i,4])):
            indexlist.append(i)
        elif key in str.upper(str(df_key.iloc[i,5])):
            indexlist.append(i)
        elif key in str.upper(str(df_key.iloc[i,6])):
            indexlist.append(i)
        elif key in str.upper(str(df_key.iloc[i,7])):
            indexlist.append(i)
        elif key in str.upper(str(df_key.iloc[i,8])):
            indexlist.append(i)
        elif key in str.upper(str(df_key.iloc[i,9])):
            indexlist.append(i)
    return df_key.iloc[indexlist,:]
#Example
search_questions(df_key,'democrat')

,Unnamed: 0,text,option_1,option_2,option_3,option_4,N,Type,Order,Keywords
1381,q227646,How do you describe yourself politically?,As a Republican,As a Democrat,As a an Independent/Something Else,None of these / I'm not American,12240,N,0,politics; descriptive
1429,q166,"Politically, which way do you lean?",To the right (republican in the US),To the left (democrat in the US),To the middle / I don't know,0,11714,O,"1, 3, 2",politics

# Modelling

In [37]:
get_question(df_key,'q255')

,Unnamed: 0,text,option_1,option_2,option_3,option_4,N,Type,Order,Keywords
71,q255,STALE is to STEAL as 89475 is to...,89457,98547,89754,89547,45868,N,None,cognitive

In [38]:
get_columns(df_num,'CA')

                       CA
0       0.571282953049484
1                    None
2        1.01226429848596
3                    None
4       0.418363901130365
5        1.19121081466145
6       0.418363901130365
7      -0.121228147366584
8      -0.688380105267506
9      0.0279525382261354
10      0.418363901130365
11                   None
12        0.6939493565392
13      0.159276818738762
14      0.571282953049484
15      0.236457103002035
16      0.161115149208797
17                   None
18     -0.772504113974758
19       0.65701611225303
20                   None
21     -0.452527367445562
22      0.154977406359007
23       1.45135353000987
24                   None
25      0.698650594245056
26      0.182751248643488
27                   None
28      0.908987003903026
29      0.512869738188106
...                   ...
68341                None
68342                None
68343                None
68344                None
68345                None
68346                None
68347                None
68348                None
68349                None
68350                None
68351                None
68352                None
68353                None
68354                None
68355                None
68356                None
68357                None
68358                None
68359                None
68360                None
68361                None
68362                None
68363                None
68364                None
68365                None
68366                None
68367                None
68368                None
68369                None
68370                None

[68371 rows x 1 columns]