In [4]:
#Import necessary things
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

from bs4 import BeautifulSoup

import requests

In [236]:
#Import movies data from Wikipedia
#target_movies = pd.read_csv('all_movies.csv')
updated_movies = pd.read_csv('updated_movies.csv')
#target_movies = target_movies.drop('Unnamed: 0', axis = 1)
#print target_movies.info()
print updated_movies.info()
#target_movies.head()
updated_movies.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1066 entries, 0 to 1065
Data columns (total 4 columns):
Unnamed: 0    1066 non-null int64
title         1066 non-null object
year          1066 non-null int64
director      1066 non-null object
dtypes: int64(2), object(2)
memory usage: 33.4+ KB
None

   Unnamed: 0            title  year          director
0           0               12  2007  Nikita Mikhalkov
1           1               13  2010     Géla Babluani
2           2     13 Assassins  2010     Takashi Miike
3           3  The 13th Letter  1951    Otto Preminger
4           4   101 Dalmatians  1996     Stephen Herek

In [184]:
import json
def get_omdb(df):
    response_dict = []
    s = df['year'].values
    for i,row in enumerate(df['title']):
        r = row.split()
        s_yr = s[i]
        r = '+'.join(r)
        url = "http://www.omdbapi.com/?t={}&y={}&tomatoes=True".format(r,s_yr)
        r = requests.get(url)
        if r.status_code == 200:
            response_dict.append(json.loads(r.text))
        else:
             continue
    return response_dict
    
#omdb_dict = get_omdb(target_movies)

In [237]:
omdb_dict3 = get_omdb(updated_movies)

In [243]:
#A small # of entries didn't work and needed to be fixed by hand with me copying from the API
omdb_dict3[265] = {"Title":"M","Year":"1951","Rated":"N/A","Released":"01 Mar 1951","Runtime":"88 min","Genre":"Drama, Film-Noir, Thriller","Director":"Joseph Losey","Writer":"Norman Reilly Raine (screen play by), Leo Katcher (screen play by), Waldo Salt (additional dialogue by)","Actors":"David Wayne, Howard Da Silva, Martin Gabel, Luther Adler","Plot":"In this Americanization of the 1931 German thriller, both the police and the criminal underworld stalk a mysterious killer who preys on small children.","Language":"English","Country":"USA","Awards":"N/A","Poster":"http://ia.media-imdb.com/images/M/MV5BYjc1ZGYzZjMtZTkxNi00MDkxLTk5MGMtNmI2ZWE2OTkxZGU2XkEyXkFqcGdeQXVyMjUxODE0MDY@._V1_SX300.jpg","Metascore":"N/A","imdbRating":"6.9","imdbVotes":"891","imdbID":"tt0043766","Type":"movie","tomatoMeter":"N/A","tomatoImage":"N/A","tomatoRating":"N/A","tomatoReviews":"N/A","tomatoFresh":"N/A","tomatoRotten":"N/A","tomatoConsensus":"N/A","tomatoUserMeter":"46","tomatoUserRating":"3.1","tomatoUserReviews":"56","tomatoURL":"http://www.rottentomatoes.com/m/m-1951/","DVD":"N/A","BoxOffice":"N/A","Production":"Columbia Pictures","Website":"N/A","Response":"True"}
omdb_dict3[451] = {"Title":"Suspicion","Year":"1988","Rated":"N/A","Released":"20 Apr 1988","Season":"7","Episode":"11","Runtime":"96 min","Genre":"Comedy, Drama","Director":"Andrew Grieve","Writer":"Anthony Berkeley (based on the play), Anthony Berkeley (novel), Joan Harrison, Barry Levinson, Jonathan Lynn, Samson Raphaelson, Alma Reville","Actors":"Anthony Andrews, Jane Curtin, Ron Pember, Martin Clunes","Plot":"A remake of Hitchcock's 1941 suspenser about a wealthy young woman who comes to suspect that her new husband is plotting to murder her.","Language":"English","Country":"UK","Awards":"N/A","Poster":"http://ia.media-imdb.com/images/M/MV5BMTQzMDIyMDEwMF5BMl5BanBnXkFtZTgwMDExMTg5MjE@._V1_SX300.jpg","Metascore":"N/A","imdbRating":"6.0","imdbVotes":"73","imdbID":"tt0094083","seriesID":"tt0176357","Type":"episode","tomatoMeter":"N/A","tomatoImage":"N/A","tomatoRating":"N/A","tomatoReviews":"N/A","tomatoFresh":"N/A","tomatoRotten":"N/A","tomatoConsensus":"N/A","tomatoUserMeter":"N/A","tomatoUserRating":"N/A","tomatoUserReviews":"N/A","tomatoURL":"N/A","DVD":"N/A","BoxOffice":"N/A","Production":"N/A","Website":"N/A","Response":"True"}
omdb_dict3[674] = {"Title":"The Firm","Year":"1989","Rated":"N/A","Released":"26 Feb 1989","Season":"5","Episode":"8","Runtime":"70 min","Genre":"N/A","Director":"Alan Clarke","Writer":"Al Ashton","Actors":"Gary Oldman, Lesley Manville, Philip Davis, Andrew Wilde","Plot":"This is the story of rival \"Firms\" of football supporters, and how one man has a wish to team them up for the European Championships of 1988. However, when this is discussed, the opposing ...","Language":"English","Country":"UK","Awards":"N/A","Poster":"http://ia.media-imdb.com/images/M/MV5BMTQyNzc1ODA5NV5BMl5BanBnXkFtZTcwNzc2MTIzMQ@@._V1_SX300.jpg","Metascore":"N/A","imdbRating":"7.3","imdbVotes":"2410","imdbID":"tt0095158","seriesID":"tt0297626","Type":"episode","tomatoMeter":"N/A","tomatoImage":"N/A","tomatoRating":"N/A","tomatoReviews":"N/A","tomatoFresh":"N/A","tomatoRotten":"N/A","tomatoConsensus":"N/A","tomatoUserMeter":"81","tomatoUserRating":"3.8","tomatoUserReviews":"3165","tomatoURL":"http://www.rottentomatoes.com/m/10005638-firm/","DVD":"N/A","BoxOffice":"N/A","Production":"N/A","Website":"N/A","Response":"True"}
omdb_dict3[796] = {"Title":"Can't Buy Me Love","Year":"1987","Rated":"PG-13","Released":"14 Aug 1987","Runtime":"94 min","Genre":"Comedy, Drama, Romance","Director":"Steve Rash","Writer":"Michael Swerdlick","Actors":"Patrick Dempsey, Amanda Peterson, Courtney Gains, Tina Caspary","Plot":"A nerdy outcast secretly pays the most popular girl in school one thousand dollars to be his girlfriend.","Language":"English","Country":"USA","Awards":"1 win & 3 nominations.","Poster":"http://ia.media-imdb.com/images/M/MV5BMTk1NjIxNTYxN15BMl5BanBnXkFtZTYwMzczNzI5._V1_SX300.jpg","Metascore":"N/A","imdbRating":"6.7","imdbVotes":"23,925","imdbID":"tt0092718","Type":"movie","tomatoMeter":"48","tomatoImage":"rotten","tomatoRating":"5.0","tomatoReviews":"21","tomatoFresh":"10","tomatoRotten":"11","tomatoConsensus":"N/A","tomatoUserMeter":"74","tomatoUserRating":"3.3","tomatoUserReviews":"48007","tomatoURL":"http://www.rottentomatoes.com/m/cant_buy_me_love/","DVD":"13 Aug 2002","BoxOffice":"N/A","Production":"Buena Vista Pictures","Website":"N/A","Response":"True"}
omdb_dict3[798] = {"Title":"M","Year":"1931","Rated":"NOT RATED","Released":"31 Aug 1931","Runtime":"99 min","Genre":"Crime, Drama, Mystery","Director":"Fritz Lang","Writer":"Thea von Harbou (script), Fritz Lang (script)","Actors":"Peter Lorre, Ellen Widmann, Inge Landgut, Otto Wernicke","Plot":"When the police in a German city are unable to catch a child-murderer, other criminals join in the manhunt.","Language":"German","Country":"Germany","Awards":"2 wins.","Poster":"http://ia.media-imdb.com/images/M/MV5BMTQyNjA5NzU5MV5BMl5BanBnXkFtZTgwMDk1MTA5MTE@._V1_SX300.jpg","Metascore":"N/A","imdbRating":"8.4","imdbVotes":"99,611","imdbID":"tt0022100","Type":"movie","tomatoMeter":"100","tomatoImage":"certified","tomatoRating":"9.2","tomatoReviews":"51","tomatoFresh":"51","tomatoRotten":"0","tomatoConsensus":"A landmark psychological thriller with arresting images, deep thoughts on modern society, and Peter Lorre in his finest performance.","tomatoUserMeter":"95","tomatoUserRating":"4.4","tomatoUserReviews":"35424","tomatoURL":"http://www.rottentomatoes.com/m/1012928-m/","DVD":"20 Oct 1998","BoxOffice":"N/A","Production":"Foremco","Website":"N/A","Response":"True"}

In [244]:
omdb_df = pd.DataFrame(omdb_dict3)
omdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1066 entries, 0 to 1065
Data columns (total 39 columns):
Actors               1063 non-null object
Awards               1063 non-null object
BoxOffice            1063 non-null object
Country              1063 non-null object
DVD                  1063 non-null object
Director             1063 non-null object
Episode              2 non-null object
Error                3 non-null object
Genre                1063 non-null object
Language             1063 non-null object
Metascore            1063 non-null object
Plot                 1063 non-null object
Poster               1063 non-null object
Production           1063 non-null object
Rated                1063 non-null object
Released             1063 non-null object
Response             1066 non-null object
Runtime              1063 non-null object
Season               2 non-null object
Title                1063 non-null object
Type                 1063 non-null object
Website              1063 non-null object
Writer               1063 non-null object
Year                 1063 non-null object
imdbID               1063 non-null object
imdbRating           1063 non-null object
imdbVotes            1063 non-null object
seriesID             2 non-null object
tomatoConsensus      1063 non-null object
tomatoFresh          1063 non-null object
tomatoImage          1063 non-null object
tomatoMeter          1063 non-null object
tomatoRating         1063 non-null object
tomatoReviews        1063 non-null object
tomatoRotten         1063 non-null object
tomatoURL            1063 non-null object
tomatoUserMeter      1063 non-null object
tomatoUserRating     1063 non-null object
tomatoUserReviews    1063 non-null object
dtypes: object(39)
memory usage: 324.9+ KB

In [246]:
errors = omdb_df[omdb_df.Error.isnull() == False]
print errors

     Actors Awards BoxOffice Country  DVD Director Episode             Error  \
127     NaN    NaN       NaN     NaN  NaN      NaN     NaN  Movie not found!
400     NaN    NaN       NaN     NaN  NaN      NaN     NaN  Movie not found!
1028    NaN    NaN       NaN     NaN  NaN      NaN     NaN  Movie not found!

     Genre Language        ...        tomatoFresh tomatoImage tomatoMeter  \
127    NaN      NaN        ...                NaN         NaN         NaN
400    NaN      NaN        ...                NaN         NaN         NaN
1028   NaN      NaN        ...                NaN         NaN         NaN

     tomatoRating tomatoReviews tomatoRotten tomatoURL tomatoUserMeter  \
127           NaN           NaN          NaN       NaN             NaN
400           NaN           NaN          NaN       NaN             NaN
1028          NaN           NaN          NaN       NaN             NaN

     tomatoUserRating tomatoUserReviews
127               NaN               NaN
400               NaN               NaN
1028              NaN               NaN

[3 rows x 39 columns]

In [247]:
#Drop columns/variables I don't want

#First, rows where the movie wasn't found
#omdb_df = omdb_df[omdb_df.Error != "Movie not found!"]

#Next, poster column
omdb_df = omdb_df.drop('Poster', axis = 1)

#Next, Season column
omdb_df = omdb_df.drop('Season', axis = 1)

#Next, Episode column
omdb_df = omdb_df.drop('Episode', axis = 1)

#Next, SeriesID column
omdb_df = omdb_df.drop('seriesID', axis = 1)

#Next, error column
#omdb_df = omdb_df.drop('Error', axis = 1)

#Next, DVD column
omdb_df = omdb_df.drop('DVD', axis = 1)

#Next, Plot column
omdb_df = omdb_df.drop('Plot', axis = 1)

#Next, Type column (type was 'movie' for all entries with valid data)
omdb_df = omdb_df.drop('Type', axis = 1)

#Next, tomatoConsensus (this is frequently empty and in other cases is just descriptive)
omdb_df = omdb_df.drop('tomatoConsensus', axis = 1)

#Next, name of the movie's own website, for those that have one
omdb_df = omdb_df.drop('Website', axis = 1)

#Next, variable called 'Response', which is just 'True' for all entries with valid data
omdb_df = omdb_df.drop('Response', axis = 1)
           
#Next, variable called 'tomatoImage', which is just 'True' for all entries with valid data
omdb_df = omdb_df.drop('tomatoImage', axis = 1)      
           
#Next, variable called 'tomatoFresh', which is just a repeat of info contained in other variables
omdb_df = omdb_df.drop('tomatoFresh', axis = 1)        
           
#Next, variable called 'tomatoRotten', which is just a repeat of info contained in other variables
omdb_df = omdb_df.drop('tomatoRotten', axis = 1)  

#Next, variable called 'tomatoRotten', which is just a repeat of info contained in other variables
omdb_df = omdb_df.drop('Released', axis = 1)   

#Next, variable called 'tomatoURL', which is just the URL for the film's rotten tomatoes page (have scores here).
omdb_df = omdb_df.drop('tomatoURL', axis = 1)

In [250]:
#Reorder columns
omdb_df = omdb_df[['Title', 'Year', 'tomatoMeter', 'tomatoRating', 'tomatoReviews', 'tomatoUserMeter', 'tomatoUserRating', 'tomatoUserReviews', 'Metascore', 'imdbRating', 'imdbVotes', 'imdbID', 'Awards', 'Genre', 'Language', 'Country', 'Director', 'Rated', 'Runtime', 'Actors', 'BoxOffice', 'Production', 'Writer']]

In [251]:
omdb_df.head(10)

,Title,Year,tomatoMeter,tomatoRating,tomatoReviews,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,Metascore,imdbRating,...,Genre,Language,Country,Director,Rated,Runtime,Actors,BoxOffice,Production,Writer
0,12,2007,76,6.8,58,83,3.5,47296,72,7.8,...,"Crime, Drama, Thriller","Russian, Chechen",Russia,Nikita Mikhalkov,PG-13,159 min,"Sergey Makovetskiy, Nikita Mikhalkov, Sergey G...",N/A,Sony Pictures Classics,"Nikita Mikhalkov, Aleksandr Novototskiy-Vlasov..."
1,13,2010,8,3.8,13,34,2.9,5577,29,6.1,...,"Drama, Thriller",English,USA,Géla Babluani,R,91 min,"Sam Riley, Alice Barrett, Gaby Hoffmann, Jason...",N/A,Anchor Bay,"Géla Babluani (screenplay), Greg Pruss (screen..."
2,13 Assassins,2010,96,8.0,120,89,4.1,23219,84,7.6,...,"Action, Adventure, Drama",Japanese,"Japan, UK",Takashi Miike,R,141 min,"Kôji Yakusho, Takayuki Yamada, Yûsuke Iseya, I...",N/A,Magnet Releasing,"Kaneo Ikegami (based on a screenplay by), Dais..."
3,The 13th Letter,1951,83,7.0,6,N/A,N/A,116,N/A,6.6,...,"Film-Noir, Mystery",English,USA,Otto Preminger,N/A,85 min,"Linda Darnell, Charles Boyer, Michael Rennie, ...",N/A,20th Century Fox Film Corporation,"Howard Koch (screen play), Louis Chavance (sto..."
4,101 Dalmatians,1996,38,5.3,34,40,2.9,624911,49,5.6,...,"Adventure, Comedy, Family","English, Spanish",USA,Stephen Herek,G,103 min,"Glenn Close, Jeff Daniels, Joely Richardson, J...",N/A,Buena Vista Pictures,"Dodie Smith (novel), John Hughes (screenplay)"
5,2001 Maniacs,2005,N/A,N/A,N/A,48,3.1,9570,N/A,5.4,...,"Comedy, Horror",English,USA,Tim Sullivan,R,87 min,"Robert Englund, Lin Shaye, Giuseppe Andrews, J...",N/A,GreeneStreet Films,"Chris Kobin, Tim Sullivan"
6,3:10 to Yuma,2007,89,7.5,213,86,3.8,393323,76,7.7,...,"Adventure, Crime, Drama","English, Chinese",USA,James Mangold,R,122 min,"Russell Crowe, Christian Bale, Logan Lerman, D...",N/A,Lionsgate Films,"Halsted Welles (screenplay), Michael Brandt (s..."
7,Abbott and Costello Meet the Invisible Man,1951,80,5.8,10,65,3.5,818,N/A,7.0,...,"Comedy, Horror, Sci-Fi",English,USA,Charles Lamont,PASSED,82 min,"Bud Abbott, Lou Costello, Nancy Guild, Arthur ...",N/A,Universal Pictures,"Hugh Wedlock Jr. (story), Howard Snyder (story..."
8,About Last Night,2014,69,6.0,94,65,3.6,33415,62,6.1,...,"Comedy, Romance",English,USA,Steve Pink,R,100 min,"Kevin Hart, Michael Ealy, Regina Hall, Joy Bryant",N/A,Sony Pictures,"Leslye Headland (screenplay), Tim Kazurinsky (..."
9,Adorable,1933,N/A,N/A,N/A,N/A,N/A,N/A,N/A,6.3,...,"Musical, Comedy, Romance",English,USA,William Dieterle,APPROVED,88 min,"Janet Gaynor, Henri Garat, C. Aubrey Smith, He...",N/A,N/A,"Paul Frank (story ""Ihre Hoheit Befiehlt""), Bil..."

In [263]:
#Drop 8 rows for movies that lack data or aren't legitimate movie pairs
omdb_df = omdb_df.drop(omdb_df.index[[41, 127, 400, 495, 574, 660, 933, 1028]]).reset_index()
print omdb_df.info()
omdb_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1058 entries, 0 to 1057
Data columns (total 24 columns):
index                1058 non-null int64
Title                1058 non-null object
Year                 1058 non-null object
tomatoMeter          1058 non-null object
tomatoRating         1058 non-null object
tomatoReviews        1058 non-null object
tomatoUserMeter      1058 non-null object
tomatoUserRating     1058 non-null object
tomatoUserReviews    1058 non-null object
Metascore            1058 non-null object
imdbRating           1058 non-null object
imdbVotes            1058 non-null object
imdbID               1058 non-null object
Awards               1058 non-null object
Genre                1058 non-null object
Language             1058 non-null object
Country              1058 non-null object
Director             1058 non-null object
Rated                1058 non-null object
Runtime              1058 non-null object
Actors               1058 non-null object
BoxOffice            1058 non-null object
Production           1058 non-null object
Writer               1058 non-null object
dtypes: int64(1), object(23)
memory usage: 198.4+ KB

,index,Title,Year,tomatoMeter,tomatoRating,tomatoReviews,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,Metascore,...,Genre,Language,Country,Director,Rated,Runtime,Actors,BoxOffice,Production,Writer
0,0,12,2007,76,6.8,58,83,3.5,47296,72,...,"Crime, Drama, Thriller","Russian, Chechen",Russia,Nikita Mikhalkov,PG-13,159 min,"Sergey Makovetskiy, Nikita Mikhalkov, Sergey G...",N/A,Sony Pictures Classics,"Nikita Mikhalkov, Aleksandr Novototskiy-Vlasov..."
1,1,13,2010,8,3.8,13,34,2.9,5577,29,...,"Drama, Thriller",English,USA,Géla Babluani,R,91 min,"Sam Riley, Alice Barrett, Gaby Hoffmann, Jason...",N/A,Anchor Bay,"Géla Babluani (screenplay), Greg Pruss (screen..."
2,2,13 Assassins,2010,96,8.0,120,89,4.1,23219,84,...,"Action, Adventure, Drama",Japanese,"Japan, UK",Takashi Miike,R,141 min,"Kôji Yakusho, Takayuki Yamada, Yûsuke Iseya, I...",N/A,Magnet Releasing,"Kaneo Ikegami (based on a screenplay by), Dais..."
3,3,The 13th Letter,1951,83,7.0,6,N/A,N/A,116,N/A,...,"Film-Noir, Mystery",English,USA,Otto Preminger,N/A,85 min,"Linda Darnell, Charles Boyer, Michael Rennie, ...",N/A,20th Century Fox Film Corporation,"Howard Koch (screen play), Louis Chavance (sto..."
4,4,101 Dalmatians,1996,38,5.3,34,40,2.9,624911,49,...,"Adventure, Comedy, Family","English, Spanish",USA,Stephen Herek,G,103 min,"Glenn Close, Jeff Daniels, Joely Richardson, J...",N/A,Buena Vista Pictures,"Dodie Smith (novel), John Hughes (screenplay)"

In [264]:
#Drop the new 'index' variable the above step created
omdb_df = omdb_df.drop('index', axis = 1)
print omdb_df.info()
omdb_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1058 entries, 0 to 1057
Data columns (total 23 columns):
Title                1058 non-null object
Year                 1058 non-null object
tomatoMeter          1058 non-null object
tomatoRating         1058 non-null object
tomatoReviews        1058 non-null object
tomatoUserMeter      1058 non-null object
tomatoUserRating     1058 non-null object
tomatoUserReviews    1058 non-null object
Metascore            1058 non-null object
imdbRating           1058 non-null object
imdbVotes            1058 non-null object
imdbID               1058 non-null object
Awards               1058 non-null object
Genre                1058 non-null object
Language             1058 non-null object
Country              1058 non-null object
Director             1058 non-null object
Rated                1058 non-null object
Runtime              1058 non-null object
Actors               1058 non-null object
BoxOffice            1058 non-null object
Production           1058 non-null object
Writer               1058 non-null object
dtypes: object(23)
memory usage: 190.2+ KB
None

,Title,Year,tomatoMeter,tomatoRating,tomatoReviews,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,Metascore,imdbRating,...,Genre,Language,Country,Director,Rated,Runtime,Actors,BoxOffice,Production,Writer
0,12,2007,76,6.8,58,83,3.5,47296,72,7.8,...,"Crime, Drama, Thriller","Russian, Chechen",Russia,Nikita Mikhalkov,PG-13,159 min,"Sergey Makovetskiy, Nikita Mikhalkov, Sergey G...",N/A,Sony Pictures Classics,"Nikita Mikhalkov, Aleksandr Novototskiy-Vlasov..."
1,13,2010,8,3.8,13,34,2.9,5577,29,6.1,...,"Drama, Thriller",English,USA,Géla Babluani,R,91 min,"Sam Riley, Alice Barrett, Gaby Hoffmann, Jason...",N/A,Anchor Bay,"Géla Babluani (screenplay), Greg Pruss (screen..."
2,13 Assassins,2010,96,8.0,120,89,4.1,23219,84,7.6,...,"Action, Adventure, Drama",Japanese,"Japan, UK",Takashi Miike,R,141 min,"Kôji Yakusho, Takayuki Yamada, Yûsuke Iseya, I...",N/A,Magnet Releasing,"Kaneo Ikegami (based on a screenplay by), Dais..."
3,The 13th Letter,1951,83,7.0,6,N/A,N/A,116,N/A,6.6,...,"Film-Noir, Mystery",English,USA,Otto Preminger,N/A,85 min,"Linda Darnell, Charles Boyer, Michael Rennie, ...",N/A,20th Century Fox Film Corporation,"Howard Koch (screen play), Louis Chavance (sto..."
4,101 Dalmatians,1996,38,5.3,34,40,2.9,624911,49,5.6,...,"Adventure, Comedy, Family","English, Spanish",USA,Stephen Herek,G,103 min,"Glenn Close, Jeff Daniels, Joely Richardson, J...",N/A,Buena Vista Pictures,"Dodie Smith (novel), John Hughes (screenplay)"

In [271]:
#Request data from IMDB and save the files in folder 'business'

import time

for i in omdb_df['imdbID']:
    url = "http://www.imdb.com/title/" + i + "/business?ref_=tt_dt_bus"
    response = requests.get(url)
    if response.status_code == 200:        
        filename = "business/" + i + ".html"
        #Now save that file
        with open(filename, 'w') as f:
            f.write(response.text.encode('utf-8'))
    else:
        continue      
    time.sleep(.3)

In [369]:
#Search through all the html files and return a dictionary that contains all the available financial info for each
import os  
import re

id_dict = {}

for file in os.listdir('business/'):
    soup = BeautifulSoup(open(os.path.join('./business/',file)).read(), 'lxml')
    #file = "tt0081383.html"
    div = soup.find(lambda tag: tag.name=='div' and tag.has_attr('id') and tag['id']=="tn15title")
    id = div.find('a')['href'].split('/')[2]

    div2 = soup.find(lambda tag: tag.name=='div' and tag.has_attr('id') and tag['id']=="tn15content")
    div2 = str(div2)   
    info = re.findall('<h5>([\w\s]+)<\/h5>\n(.*?)<br\/>', div2)
    
    #<h5>(\w+)<\/h5>\n(.*?)<br\/>

    id_dict[id] = info

In [370]:
len(id_dict)

1030

In [438]:
#Now search through this dict for useful info and create a dataframe

import re
movie_amounts = []
for movie_id, values in id_dict.items():
    movie = {}
    movie["imdbID"] = movie_id
    for amt_key, amt_value in values:
        if amt_key == "Budget" or amt_key == "Gross" or amt_key == "Opening Weekend":
            matched_val = re.match(r"(.*?[\d,]+)", amt_value)
            if matched_val:
                movie[amt_key] = matched_val.group(1)
            matched_usd = re.match(r".*?(\$[\d,]+)", amt_value)  
            if matched_usd:
                movie[amt_key + "_usd"] = matched_usd.group(1)
    movie_amounts.append(movie)

In [439]:
business = pd.DataFrame(movie_amounts)
print business.info()
business.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 7 columns):
Budget                 473 non-null object
Budget_usd             427 non-null object
Gross                  494 non-null object
Gross_usd              452 non-null object
Opening Weekend        311 non-null object
Opening Weekend_usd    288 non-null object
imdbID                 1030 non-null object
dtypes: object(7)
memory usage: 56.4+ KB
None

,Budget,Budget_usd,Gross,Gross_usd,Opening Weekend,Opening Weekend_usd,imdbID
0,NaN,NaN,NaN,NaN,NaN,NaN,tt0311730
1,"$175,000","$175,000",NaN,NaN,NaN,NaN,tt0051756
2,"$49,000,000","$49,000,000","$64,172,251","$64,172,251","$20,027,309","$20,027,309",tt0231775
3,"$12,500,000","$12,500,000","$2,425,315","$2,425,315","$2,425,315","$2,425,315",tt0079753
4,"$2,258,000","$2,258,000","$5,047,000","$5,047,000",NaN,NaN,tt0042646
5,NaN,NaN,NaN,NaN,NaN,NaN,tt0244536
6,NaN,NaN,NaN,NaN,NaN,NaN,tt0112709
7,"$202,000","$202,000",NaN,NaN,NaN,NaN,tt0024257
8,NaN,NaN,NaN,NaN,NaN,NaN,tt0051758
9,"$40,000,000","$40,000,000","$14,942,422","$14,942,422",NaN,NaN,tt0113552
10,"$4,200,000","$4,200,000","$5,835,247","$5,835,247","$2,884,679","$2,884,679",tt0100258
11,"FRF 17,500,000",NaN,"$41,010","$41,010","$8,985","$8,985",tt0047892
12,NaN,NaN,"$23,300","$23,300","$3,026","$3,026",tt0263101
13,NaN,NaN,NaN,NaN,NaN,NaN,tt1075746
14,NaN,NaN,"$13,000,000","$13,000,000",NaN,NaN,tt0086450
15,NaN,NaN,NaN,NaN,NaN,NaN,tt0076849
16,NaN,NaN,NaN,NaN,NaN,NaN,tt0057212
17,NaN,NaN,NaN,NaN,NaN,NaN,tt0046268
18,"$16,000,000","$16,000,000","$8,600,000","$8,600,000",NaN,NaN,tt0089543
19,NaN,NaN,NaN,NaN,NaN,NaN,tt0077716

In [442]:
#I suspect that 'Opening Weekend' and 'Opening Weekend_usd' are identical.  Check this. 
not_equal = business[business['Opening Weekend'] != business['Opening Weekend_usd']]
not_equal = not_equal[not_equal['Opening Weekend'].notnull()]
print not_equal
#Turns out there some entries where I have opening weekend info in another currency, so keep for now

              Budget   Budget_usd           Gross    Gross_usd  \
75               NaN          NaN        €113,752          NaN
136      $90,000,000  $90,000,000     $58,229,120  $58,229,120
169       €7,930,000          NaN        £178,659          NaN
170              NaN          NaN        $416,417     $416,417
218              NaN          NaN        £686,502          NaN
222  INR 120,000,000          NaN        £233,158          NaN
320              NaN          NaN         £34,978          NaN
346  INR 120,000,000          NaN             NaN          NaN
452       €4,400,000          NaN      €1,001,695          NaN
488              NaN          NaN  INR 37,244,000          NaN
516              NaN          NaN        €231,647          NaN
521              NaN          NaN   HKD 8,158,221          NaN
531              NaN          NaN         £86,386          NaN
630              NaN          NaN        €797,965          NaN
647      INR 250,000          NaN             NaN          NaN
673      $11,000,000  $11,000,000         €25,505          NaN
684       $5,000,000   $5,000,000   PHP 2,741,718          NaN
703      $10,000,000  $10,000,000   PHP 6,111,827          NaN
715              NaN          NaN        $592,871     $592,871
806              NaN          NaN  INR 24,684,000          NaN
832         $350,000     $350,000      $2,400,000   $2,400,000
882              NaN          NaN             NaN          NaN
948              NaN          NaN             NaN          NaN

     Opening Weekend Opening Weekend_usd     imdbID
75           €70,849                 NaN  tt0798817
136   HUF 29,397,631                 NaN  tt0359950
169          £89,467                 NaN  tt1217637
170          €16,833                 NaN  tt0480269
218         £310,060                 NaN  tt1313113
222         £233,158                 NaN  tt0456144
320          £34,978                 NaN  tt0308379
346   INR 60,000,000                 NaN  tt0408181
452         €456,923                 NaN  tt0374358
488   INR 28,966,000                 NaN  tt0443594
516          €76,932                 NaN  tt0366292
521    HKD 5,941,628                 NaN  tt0473064
531          £31,760                 NaN  tt0374887
630         €128,044                 NaN  tt1194616
647  INR 230,000,000                 NaN  tt0867145
673          €17,033                 NaN  tt1434435
684    PHP 2,741,718                 NaN  tt0897347
703    PHP 2,841,232                 NaN  tt1172060
715         €991,000                 NaN  tt0118001
806   INR 19,708,000                 NaN  tt0444874
832         €110,764                 NaN  tt0083907
882   HUF 20,621,505                 NaN  tt0404978
948         €447,686                 NaN  tt0367913

In [443]:
# Next let's try to get the info stripped for the ones that are in USD so I can use those for regressions

def get_money(s):
    s = str(s)
    return ''.join(c for c in s if c.isdigit())

business['gross_usd_fixed'] = map(get_money, business['Gross_usd'])
business['wkend_usd_fixed'] = map(get_money, business['Opening Weekend_usd'])
business['budget_usd_fixed'] = map(get_money, business['Budget_usd'])

business.head()

,Budget,Budget_usd,Gross,Gross_usd,Opening Weekend,Opening Weekend_usd,imdbID,gross_usd_fixed,wkend_usd_fixed,budget_usd_fixed
0,NaN,NaN,NaN,NaN,NaN,NaN,tt0311730,,,
1,"$175,000","$175,000",NaN,NaN,NaN,NaN,tt0051756,,,175000
2,"$49,000,000","$49,000,000","$64,172,251","$64,172,251","$20,027,309","$20,027,309",tt0231775,64172251,20027309,49000000
3,"$12,500,000","$12,500,000","$2,425,315","$2,425,315","$2,425,315","$2,425,315",tt0079753,2425315,2425315,12500000
4,"$2,258,000","$2,258,000","$5,047,000","$5,047,000",NaN,NaN,tt0042646,5047000,,2258000

In [444]:
# Now make a new dataframe with just the columns I want, and rename the others so they're clear
business['budget_incforeign'] = business['Budget']
business['gross_incforeign'] = business['Gross']
business['wkend_incforeign'] = business['Opening Weekend']

business_df = business[['imdbID', 'budget_usd_fixed', 'gross_usd_fixed', 'wkend_usd_fixed', 'gross_incforeign', 'budget_incforeign', 'wkend_incforeign']]
print business_df.info()
business_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 7 columns):
imdbID               1030 non-null object
budget_usd_fixed     1030 non-null object
gross_usd_fixed      1030 non-null object
wkend_usd_fixed      1030 non-null object
gross_incforeign     494 non-null object
budget_incforeign    473 non-null object
wkend_incforeign     311 non-null object
dtypes: object(7)
memory usage: 56.4+ KB
None

,imdbID,budget_usd_fixed,gross_usd_fixed,wkend_usd_fixed,gross_incforeign,budget_incforeign,wkend_incforeign
0,tt0311730,,,,NaN,NaN,NaN
1,tt0051756,175000,,,NaN,"$175,000",NaN
2,tt0231775,49000000,64172251,20027309,"$64,172,251","$49,000,000","$20,027,309"
3,tt0079753,12500000,2425315,2425315,"$2,425,315","$12,500,000","$2,425,315"
4,tt0042646,2258000,5047000,,"$5,047,000","$2,258,000",NaN

In [559]:
# Now want to merge with the other, main dataframe

final_df = pd.merge(omdb_df, business_df, how = 'left', on = ['imdbID'])
print final_df.info()
final_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1058 entries, 0 to 1057
Data columns (total 29 columns):
Title                1058 non-null object
Year                 1058 non-null object
tomatoMeter          1058 non-null object
tomatoRating         1058 non-null object
tomatoReviews        1058 non-null object
tomatoUserMeter      1058 non-null object
tomatoUserRating     1058 non-null object
tomatoUserReviews    1058 non-null object
Metascore            1058 non-null object
imdbRating           1058 non-null object
imdbVotes            1058 non-null object
imdbID               1058 non-null object
Awards               1058 non-null object
Genre                1058 non-null object
Language             1058 non-null object
Country              1058 non-null object
Director             1058 non-null object
Rated                1058 non-null object
Runtime              1058 non-null object
Actors               1058 non-null object
BoxOffice            1058 non-null object
Production           1058 non-null object
Writer               1058 non-null object
budget_usd_fixed     1056 non-null object
gross_usd_fixed      1056 non-null object
wkend_usd_fixed      1056 non-null object
gross_incforeign     503 non-null object
budget_incforeign    485 non-null object
wkend_incforeign     317 non-null object
dtypes: object(29)
memory usage: 248.0+ KB
None

,Title,Year,tomatoMeter,tomatoRating,tomatoReviews,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,Metascore,imdbRating,...,Actors,BoxOffice,Production,Writer,budget_usd_fixed,gross_usd_fixed,wkend_usd_fixed,gross_incforeign,budget_incforeign,wkend_incforeign
0,12,2007,76,6.8,58,83,3.5,47296,72,7.8,...,"Sergey Makovetskiy, Nikita Mikhalkov, Sergey G...",N/A,Sony Pictures Classics,"Nikita Mikhalkov, Aleksandr Novototskiy-Vlasov...",4000000,125024,12042,"$125,024","$4,000,000","$12,042"
1,13,2010,8,3.8,13,34,2.9,5577,29,6.1,...,"Sam Riley, Alice Barrett, Gaby Hoffmann, Jason...",N/A,Anchor Bay,"Géla Babluani (screenplay), Greg Pruss (screen...",,,,"€113,752",NaN,"€70,849"
2,13 Assassins,2010,96,8.0,120,89,4.1,23219,84,7.6,...,"Kôji Yakusho, Takayuki Yamada, Yûsuke Iseya, I...",N/A,Magnet Releasing,"Kaneo Ikegami (based on a screenplay by), Dais...",6000000,802524,45854,"$802,524","$6,000,000","$45,854"
3,The 13th Letter,1951,83,7.0,6,N/A,N/A,116,N/A,6.6,...,"Linda Darnell, Charles Boyer, Michael Rennie, ...",N/A,20th Century Fox Film Corporation,"Howard Koch (screen play), Louis Chavance (sto...",,,,NaN,NaN,NaN
4,101 Dalmatians,1996,38,5.3,34,40,2.9,624911,49,5.6,...,"Glenn Close, Jeff Daniels, Joely Richardson, J...",N/A,Buena Vista Pictures,"Dodie Smith (novel), John Hughes (screenplay)",75000000,136182161,45073479,"$136,182,161","$75,000,000","$45,073,479"

In [560]:
final_df[91:120]

,Title,Year,tomatoMeter,tomatoRating,tomatoReviews,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,Metascore,imdbRating,...,Actors,BoxOffice,Production,Writer,budget_usd_fixed,gross_usd_fixed,wkend_usd_fixed,gross_incforeign,budget_incforeign,wkend_incforeign
91,Criminal,2004,69,6.4,121,57,3.3,6660,61,6.4,...,"John C. Reilly, Diego Luna, Maggie Gyllenhaal,...","$740,056.00",Warner Bros. Pictures,"Fabián Bielinsky (film Nueve reinas), Gregory ...",,14688078,283209,"$14,688,078",NaN,"$283,209"
92,D.O.A.,1988,61,5.3,18,31,2.9,7095,N/A,6.1,...,"Dennis Quaid, Meg Ryan, Charlotte Rampling, Da...",N/A,Buena Vista Pictures,"Charles Edward Pogue (screenplay), Charles Edw...",,12706478,,"$12,706,478",NaN,NaN
93,Dark Mirror,1984,N/A,N/A,N/A,40,3.7,36,N/A,5.9,...,"Jane Seymour, Stephen Collins, Vincent Gardeni...",N/A,Aaron Spelling Productions,"Corey Blechman, Nunnally Johnson",,,,NaN,NaN,NaN
94,Dark Victory,1976,N/A,N/A,N/A,33,3.3,17,N/A,6.8,...,"Elizabeth Montgomery, Anthony Hopkins, Michele...",N/A,Universal TV,"Bertram Bloch (play), George Emerson Brewer Jr...",,,,NaN,NaN,NaN
95,Dark Water,2005,46,5.5,152,28,2.7,154726,52,5.6,...,"Jennifer Connelly, John C. Reilly, Tim Roth, D...","$25,416,400.00",Buena Vista,"Kôji Suzuki (novel), Hideo Nakata (film Honogu...",30000000,25472967,9939251,"$25,472,967","$30,000,000","$9,939,251"
96,Dawn of the Dead,2004,75,6.7,182,77,3.4,403223,59,7.4,...,"Sarah Polley, Ving Rhames, Jake Weber, Mekhi P...","$58,885,635.00",Universal Pictures,"George A. Romero, James Gunn (screenplay)",26000000,59020957,26722575,"$59,020,957","$26,000,000","$26,722,575"
97,The Dawn Patrol,1938,N/A,N/A,N/A,84,3.7,1136,N/A,7.6,...,"Errol Flynn, Basil Rathbone, David Niven, Dona...",N/A,Warner Bros.,"Seton I. Miller (screen play), Dan Totheroh (s...",,,,NaN,NaN,NaN
98,Day of the Dead,2008,14,2.7,7,22,2.5,11056,N/A,4.5,...,"Mena Suvari, Nick Cannon, Michael Welch, AnnaL...",N/A,First Look International,"Jeffrey Reddick (screenplay), George A. Romero...",18000000,301771,,"$301,771","$18,000,000",NaN
99,The Day the Earth Stood Still,2008,21,4.1,191,27,2.8,303293,40,5.5,...,"Keanu Reeves, Jennifer Connelly, Kathy Bates, ...",N/A,20th Century Fox,"David Scarpa (screenplay), Edmund H. North",80000000,79366978,30480153,"$79,366,978","$80,000,000","$30,480,153"
100,Dead of Winter,1987,82,6.6,11,42,3.2,1091,N/A,6.3,...,"Mary Steenburgen, Roddy McDowall, Jan Rubes, W...",N/A,Twentieth Century Fox Home Entertainment,"Marc Shmuger, Mark Malone",,2413427,,"$2,413,427",NaN,NaN
101,Death at a Funeral,2010,41,4.9,133,45,3.1,102920,51,5.6,...,"Keith David, Loretta Devine, Peter Dinklage, R...","$16,000,000.00",Sony Pictures,Dean Craig,20000000,42739347,16217540,"$42,739,347","$20,000,000","$16,217,540"
102,Death Race,2008,43,4.8,150,61,3.5,207325,43,6.4,...,"Jason Statham, Joan Allen, Ian McShane, Tyrese...",N/A,Universal Pictures,"Paul W.S. Anderson (screenplay), Paul W.S. And...",45000000,36064910,12621090,"$36,064,910","$45,000,000","$12,621,090"
103,Obama's Kickstarter Campaign to Solve the Debt,2011,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,...,James Davis,N/A,N/A,"Jack Allison, Matty Smith",,,,NaN,NaN,NaN
104,The Defiant Ones,1986,N/A,N/A,N/A,N/A,N/A,N/A,N/A,6.1,...,"Robert Urich, Carl Weathers, Ed Lauter, Barry ...",N/A,N/A,"James Lee Barrett, Harold Jacob Smith (story),...",,,,NaN,NaN,NaN
105,The Departed,2006,91,8.2,264,94,4.1,734133,86,8.5,...,"Leonardo DiCaprio, Matt Damon, Jack Nicholson,...","$132,300,000.00",Warner Bros. Pictures,"William Monahan (screenplay), Alan Mak, Felix ...",90000000,132384315,26887467,"$132,384,315","$90,000,000","$26,887,467"
106,Desire,1936,N/A,N/A,N/A,71,3.8,392,N/A,7.2,...,"Marlene Dietrich, Gary Cooper, John Halliday, ...",N/A,Criterion Collection,"Hans Székely (play), Robert A. Stemmle (play),...",1200000,,,NaN,"$1,200,000",NaN
107,Desperate Hours,1990,36,4.6,11,23,2.7,3259,N/A,5.4,...,"Mickey Rourke, Anthony Hopkins, Mimi Rogers, L...",N/A,Metro Goldwyn Mayer,"Joseph Hayes (novel), Joseph Hayes (play), Law...",18000000,2742912,,"$2,742,912","$18,000,000",NaN
108,The Second Wind,2007,N/A,N/A,N/A,34,3.0,527,N/A,5.8,...,"Daniel Auteuil, Monica Bellucci, Michel Blanc,...",N/A,N/A,"Alain Corneau (adaptation), José Giovanni (dia...",,,,NaN,"€24,000,000",NaN
109,Diabolique,1996,12,3.8,26,34,2.7,6910,N/A,5.3,...,"Sharon Stone, Isabelle Adjani, Chazz Palminter...",N/A,Warner Home Video,"Pierre Boileau (novel), Thomas Narcejac (novel...",,17000000,5524055,"$17,000,000",NaN,"$5,524,055"
110,Diamond Horseshoe,1945,N/A,N/A,N/A,N/A,N/A,N/A,N/A,6.9,...,"Betty Grable, Dick Haymes, Phil Silvers, Willi...",N/A,N/A,"Kenyon Nicholson (play), George Seaton",2500000,,,NaN,"$2,500,000",NaN
111,Dinner for Schmucks,2010,42,5.3,185,42,3.0,119251,56,5.9,...,"Steve Carell, Paul Rudd, Zach Galifianakis, Je...","$72,980,108.00",Paramount Studios,"David Guion (screenplay), Michael Handelman (s...",,72980108,23527839,"$72,980,108",NaN,"$23,527,839"
112,Dirty Rotten Scoundrels,1988,88,6.9,32,84,3.4,48291,68,7.3,...,"Steve Martin, Michael Caine, Glenne Headly, An...",N/A,MGM Home Entertainment,"Dale Launer, Stanley Shapiro, Paul Henning",,42039085,3840498,"$42,039,085",NaN,"$3,840,498"
113,Disturbia,2007,69,6.2,172,77,3.7,1452091,62,6.9,...,"Shia LaBeouf, Sarah Roemer, Carrie-Anne Moss, ...",N/A,Dreamworks,"Christopher Landon (screenplay), Carl Ellswort...",20000000,80209692,22224982,"$80,209,692","$20,000,000","$22,224,982"
114,Dr. Jekyll and Mr. Hyde,1941,65,6.7,20,62,3.4,4698,N/A,6.9,...,"Spencer Tracy, Ingrid Bergman, Lana Turner, Do...",N/A,MGM,"John Lee Mahin (screen play), Robert Louis Ste...",,,,NaN,NaN,NaN
115,Dr. M,1990,N/A,N/A,N/A,17,2.7,166,N/A,4.9,...,"Alan Bates, Jennifer Beals, Jan Niklas, Hanns ...",N/A,N/A,"Sollace Mitchell (screenplay), Thomas Bauermei...",,,,NaN,NaN,NaN
116,Billa,2009,N/A,N/A,N/A,68,3.9,390,N/A,6.1,...,"Prabhas, Anushka Shetty, Hansika Motwani, Namitha",N/A,Ayngaran International,"Javed Akhtar (original story), Salim Khan (ori...",,,,NaN,"INR 250,000,000",NaN
117,A Dog of Flanders,1999,21,4.7,24,63,3.6,817,38,6.3,...,"Jack Warden, Jeremy James Kissner, Jesse James...",N/A,Warner Home Video,"Ouida (story), Kevin Brodie (screenplay), Robe...",7000000,2148212,807873,"$2,148,212","$7,000,000","$807,873"
118,Don't Be Afraid of the Dark,2010,58,5.8,163,34,2.8,40439,56,5.6,...,"Katie Holmes, Guy Pearce, Bailee Madison, Jack...",N/A,Miramax Films,"Guillermo del Toro (screenplay), Matthew Robbi...",25000000,24042490,8525728,"$24,042,490","$25,000,000","$8,525,728"
119,The Shaft,2001,20,4.3,5,17,2.5,2332,N/A,4.4,...,"James Marshall, Naomi Watts, Eric Thal, Michae...",N/A,First Floor Features,Dick Maas,15000000,163309,,"$163,309","$15,000,000",NaN

In [561]:
# Now we want to continue cleaning up these data and getting them ready for analysis

#1. Don't need BoxOffice because it's covered by info on gross acquired from IMDB
final_df = final_df.drop('BoxOffice', axis = 1)

#2. Now create and call a function to turn year back into an int object
def make_int(cell):
    cell = str(cell)
    return int(cell)

final_df['Year'] = map(make_int, final_df['Year'])

In [562]:
#Next take a look at the awards column
final_df['Awards']

0       Nominated for 1 Oscar. Another 5 wins & 5 nomi...
1                                                  1 win.
2                               14 wins & 27 nominations.
3                                                     N/A
4       Nominated for 1 Golden Globe. Another 3 wins &...
5                                           1 nomination.
6       Nominated for 2 Oscars. Another 3 wins & 30 no...
7                                                     N/A
8                                           1 nomination.
9                                                     N/A
10      Nominated for 4 Oscars. Another 2 wins & 2 nom...
11      Nominated for 1 Oscar. Another 2 wins & 2 nomi...
12      Won 1 Golden Globe. Another 5 wins & 7 nominat...
13          Nominated for 4 Oscars. Another 1 nomination.
14                                         2 nominations.
15                                2 wins & 4 nominations.
16                                          1 nomination.
17                                                    N/A
18                                 1 win & 4 nominations.
19                                                    N/A
20      Nominated for 2 Golden Globes. Another 3 wins ...
21                                                    N/A
22                                                    N/A
23                                                    N/A
24                                                    N/A
25                                                4 wins.
26                                                    N/A
27                                          1 nomination.
28                                3 wins & 5 nominations.
29                                 1 win & 2 nominations.
                              ...
1028          Won 1 Oscar. Another 1 win & 5 nominations.
1029                                                  N/A
1030                                                  N/A
1031                                                  N/A
1032         Won 1 Oscar. Another 4 wins & 2 nominations.
1033                                                  N/A
1034                                                  N/A
1035    Nominated for 1 Golden Globe. Another 8 wins &...
1036    Nominated for 1 Oscar. Another 4 wins & 4 nomi...
1037                                                  N/A
1038                                       2 nominations.
1039         Won 1 Oscar. Another 1 win & 11 nominations.
1040    Nominated for 1 Golden Globe. Another 5 wins &...
1041                                               1 win.
1042                                       2 nominations.
1043                                                  N/A
1044                               1 win & 6 nominations.
1045    Won 1 BAFTA Film Award. Another 1 win & 2 nomi...
1046                                       2 nominations.
1047                                               1 win.
1048                                                  N/A
1049                                1 win & 1 nomination.
1050    Nominated for 1 Golden Globe. Another 1 win & ...
1051                                               1 win.
1052         Nominated for 1 Oscar. Another 1 nomination.
1053                             27 wins & 2 nominations.
1054                                                  N/A
1055    Nominated for 2 Golden Globes. Another 2 wins ...
1056                                               1 win.
1057                                               1 win.
Name: Awards, dtype: object

In [563]:
#3. Deal with parsing the awards column.  Here create a function to sum awards, nominations, and awards + noms.
# Returns all 3 in their own lists

import re

def awards(column):
    noms = []
    awards = []
    noms_awards = []
    for cell in column:
        cell = str(cell)
        
        nominatedfor = re.search(r'for (\d*)', cell)
        more_nominations = re.search(r'(\d*) nomination', cell)
        
        if nominatedfor and more_nominations:
            all_nominations = int(nominatedfor.group(1)) + int(more_nominations.group(1))
        elif nominatedfor and not more_nominations:
            all_nominations = int(nominatedfor.group(1))
        elif more_nominations and not nominatedfor:
            all_nominations = int(more_nominations.group(1))
        else:
            all_nominations = 0
            
        won = re.search(r'Won (\d*)', cell)
        wins = re.search(r'(\d*) win', cell)
        
        if won and wins:
            all_awards = int(won.group(1)) + int(wins.group(1))
        elif won and not wins:
            all_awards = int(won.group(1))
        elif wins and not won:
            all_awards = int(wins.group(1))
        else:
            all_awards = 0    
        
        nom_plus_award = all_nominations + all_awards
        
        noms.append(all_nominations)
        awards.append(all_awards)
        noms_awards.append(nom_plus_award)
  
    return noms, awards, noms_awards        
            
noms, awards, noms_awards = awards(final_df['Awards'])

In [564]:
#Now add these as new columns to the DataFrame
final_df['Award_count'] = awards
final_df['Noms_count'] = noms
final_df['Noms+Awards'] = noms_awards

print final_df.info()
final_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1058 entries, 0 to 1057
Data columns (total 31 columns):
Title                1058 non-null object
Year                 1058 non-null int64
tomatoMeter          1058 non-null object
tomatoRating         1058 non-null object
tomatoReviews        1058 non-null object
tomatoUserMeter      1058 non-null object
tomatoUserRating     1058 non-null object
tomatoUserReviews    1058 non-null object
Metascore            1058 non-null object
imdbRating           1058 non-null object
imdbVotes            1058 non-null object
imdbID               1058 non-null object
Awards               1058 non-null object
Genre                1058 non-null object
Language             1058 non-null object
Country              1058 non-null object
Director             1058 non-null object
Rated                1058 non-null object
Runtime              1058 non-null object
Actors               1058 non-null object
Production           1058 non-null object
Writer               1058 non-null object
budget_usd_fixed     1056 non-null object
gross_usd_fixed      1056 non-null object
wkend_usd_fixed      1056 non-null object
gross_incforeign     503 non-null object
budget_incforeign    485 non-null object
wkend_incforeign     317 non-null object
Award_count          1058 non-null int64
Noms_count           1058 non-null int64
Noms+Awards          1058 non-null int64
dtypes: int64(4), object(27)
memory usage: 264.5+ KB
None

,Title,Year,tomatoMeter,tomatoRating,tomatoReviews,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,Metascore,imdbRating,...,Writer,budget_usd_fixed,gross_usd_fixed,wkend_usd_fixed,gross_incforeign,budget_incforeign,wkend_incforeign,Award_count,Noms_count,Noms+Awards
0,12,2007,76,6.8,58,83,3.5,47296,72,7.8,...,"Nikita Mikhalkov, Aleksandr Novototskiy-Vlasov...",4000000,125024,12042,"$125,024","$4,000,000","$12,042",5,6,11
1,13,2010,8,3.8,13,34,2.9,5577,29,6.1,...,"Géla Babluani (screenplay), Greg Pruss (screen...",,,,"€113,752",NaN,"€70,849",1,0,1
2,13 Assassins,2010,96,8.0,120,89,4.1,23219,84,7.6,...,"Kaneo Ikegami (based on a screenplay by), Dais...",6000000,802524,45854,"$802,524","$6,000,000","$45,854",14,27,41
3,The 13th Letter,1951,83,7.0,6,N/A,N/A,116,N/A,6.6,...,"Howard Koch (screen play), Louis Chavance (sto...",,,,NaN,NaN,NaN,0,0,0
4,101 Dalmatians,1996,38,5.3,34,40,2.9,624911,49,5.6,...,"Dodie Smith (novel), John Hughes (screenplay)",75000000,136182161,45073479,"$136,182,161","$75,000,000","$45,073,479",3,10,13

In [565]:
#4.  Now deal with parsing language, create new variable to hold primary language

def language(column):
    primary = []
    for cell in column:
        cell = str(cell)
        languages = cell.split(',')
        primary_language = languages[0]
        primary.append(primary_language)
    return primary

primary = language(final_df['Language'])
final_df['PrimaryLanguage'] = primary

In [566]:
#Find those where language is missing and check into them.  Turns out most are silent films but can infer langauge. 
language_missing = final_df[final_df.PrimaryLanguage == "N/A"]

#So now fix language for these (almost all English)
def fix_lang(column):
    lang_fix = []
    for cell in column:
        cell = str(cell)
        if not cell == "N/A":
            lang_fix.append(cell)
        elif cell == "N/A":  
            lang_fix.append('English')
    return lang_fix

lang_fix = fix_lang(final_df['PrimaryLanguage'])
final_df['PrimaryLangFixed'] = lang_fix

final_df.PrimaryLangFixed

0        Russian
1        English
2       Japanese
3        English
4        English
5        English
6        English
7        English
8        English
9        English
10       English
11       English
12       English
13       English
14       English
15       English
16       English
17       English
18       English
19       English
20       English
21        Telugu
22       English
23        German
24       English
25       Kannada
26       English
27       English
28       English
29       English
          ...
1028     English
1029     Italian
1030     English
1031     English
1032     English
1033     English
1034     Italian
1035     English
1036     Italian
1037     English
1038     English
1039     English
1040     English
1041     English
1042     English
1043     English
1044     English
1045      French
1046     English
1047      Korean
1048     English
1049     English
1050      French
1051     English
1052     English
1053    Japanese
1054       Hindi
1055     English
1056     English
1057     English
Name: PrimaryLangFixed, dtype: object

In [567]:
#Finally fix the two entries that aren't supposed to be English by hand
final_df.iloc[660, -1:] = "French"
final_df.iloc[794, -1:] = "German"

In [568]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1058 entries, 0 to 1057
Data columns (total 33 columns):
Title                1058 non-null object
Year                 1058 non-null int64
tomatoMeter          1058 non-null object
tomatoRating         1058 non-null object
tomatoReviews        1058 non-null object
tomatoUserMeter      1058 non-null object
tomatoUserRating     1058 non-null object
tomatoUserReviews    1058 non-null object
Metascore            1058 non-null object
imdbRating           1058 non-null object
imdbVotes            1058 non-null object
imdbID               1058 non-null object
Awards               1058 non-null object
Genre                1058 non-null object
Language             1058 non-null object
Country              1058 non-null object
Director             1058 non-null object
Rated                1058 non-null object
Runtime              1058 non-null object
Actors               1058 non-null object
Production           1058 non-null object
Writer               1058 non-null object
budget_usd_fixed     1056 non-null object
gross_usd_fixed      1056 non-null object
wkend_usd_fixed      1056 non-null object
gross_incforeign     503 non-null object
budget_incforeign    485 non-null object
wkend_incforeign     317 non-null object
Award_count          1058 non-null int64
Noms_count           1058 non-null int64
Noms+Awards          1058 non-null int64
PrimaryLanguage      1058 non-null object
PrimaryLangFixed     1058 non-null object
dtypes: int64(4), object(29)
memory usage: 281.0+ KB

In [569]:
# 5.  Now let's deal with things that look like numbers but have commas or something like that.
# This means Runtime, tomatoUserReviews, and imdbVotes.  Create and call a function to turn year back into an int object.

def fix_strings(cell):
    cell = str(cell)
    return ''.join(c for c in cell if c.isdigit())

final_df['Runtime'] = map(fix_strings, final_df['Runtime'])
final_df['tomatoUserReviews'] = map(fix_strings, final_df['tomatoUserReviews'])
final_df['imdbVotes'] = map(fix_strings, final_df['imdbVotes'])

In [570]:
# 6. Now let's deal with Genre.  Ugh. Here's a function to generate lists of 0s and 1s for each genre in 'Genre.'
#Searching through, I found 19 options: Crime, Drama, Thriller, Action, Adventure, Film-Noir, Mystery, Comedy, Family, Horror, 
# Sci-Fi, Romance, Musical, Fantasy, Western, War, Sport, History, Biography
#To do that, I used: pd.unique(final_df.Genre)

def genre(column):
    crimel = []
    dramal = []
    thrillerl = []
    actionl = []
    adventurel = []
    film_noirl = []
    mysteryl = []
    comedyl = []
    familyl = []
    horrorl = []
    sci_fil = []
    romancel = []
    musicl = []
    fantasyl = []
    westernl = []
    warl = []
    sportl = []
    historyl = []
    biographyl = []
    
    for cell in column:
        cell = str(cell)
        
        crime = re.search(r'Crime', cell)
        if crime:
            crimel.append(1)
        else:
            crimel.append(0)
            
        drama = re.search(r'Drama', cell)
        if drama:
            dramal.append(1)
        else:
            dramal.append(0)
        
        thriller = re.search(r'Thriller', cell)
        if thriller:
            thrillerl.append(1)
        else:
            thrillerl.append(0)
        
        action = re.search(r'Action', cell)
        if action:
            actionl.append(1)
        else:
            actionl.append(0)
        
        adventure = re.search(r'Adventure', cell)
        if adventure:
            adventurel.append(1)
        else:
            adventurel.append(0)
        
        film_noir = re.search(r'Film-Noir', cell)
        if film_noir:
            film_noirl.append(1)
        else:
            film_noirl.append(0)
        
        mystery = re.search(r'Mystery', cell)
        if mystery:
            mysteryl.append(1)
        else:
            mysteryl.append(0)
        
        comedy = re.search(r'Comedy', cell)
        if comedy:
            comedyl.append(1)
        else:
            comedyl.append(0)
            
        family = re.search(r'Family', cell)
        if family:
            familyl.append(1)
        else:
            familyl.append(0)
        
        horror = re.search(r'Horror', cell)
        if horror:
            horrorl.append(1)
        else:
            horrorl.append(0)
        
        sci_fi = re.search(r'Sci-Fi', cell)
        if sci_fi:
            sci_fil.append(1)
        else:
            sci_fil.append(0)
        
        romance = re.search(r'Romance', cell)
        if romance:
            romancel.append(1)
        else:
            romancel.append(0)
                
        music = re.search(r'Music', cell)
        if music:
            musicl.append(1)
        else:
            musicl.append(0)
                
        fantasy = re.search(r'Fantasy', cell)
        if fantasy:
            fantasyl.append(1)
        else:
            fantasyl.append(0)
                
        western = re.search(r'Western', cell)
        if western:
            westernl.append(1)
        else:
            westernl.append(0)
                
        war = re.search(r'War', cell)
        if war:
            warl.append(1)
        else:
            warl.append(0)
                
        sport = re.search(r'Sport', cell)
        if sport:
            sportl.append(1)
        else:
            sportl.append(0)
                
        history = re.search(r'History', cell)
        if history:
            historyl.append(1)
        else:
            historyl.append(0)
                
        biography = re.search(r'Biography', cell)
        if biography:
            biographyl.append(1)
        else:
            biographyl.append(0)

    return crimel, dramal, thrillerl, actionl, adventurel, film_noirl, mysteryl, comedyl, familyl, horrorl, sci_fil, romancel, musicl, fantasyl, westernl, warl, sportl, historyl, biographyl  
    
crimel, dramal, thrillerl, actionl, adventurel, film_noirl, mysteryl, comedyl, familyl, horrorl, sci_fil, romancel, musicl, fantasyl, westernl, warl, sportl, historyl, biographyl = genre(final_df['Genre'])

In [571]:
#Now add these as new columns to the DataFrame
final_df['Crime'] = crimel
final_df['Drama'] = dramal
final_df['Thriller'] = thrillerl
final_df['Action'] = actionl
final_df['Adventure'] = adventurel
final_df['Film_Noir'] = film_noirl
final_df['Mystery'] = mysteryl
final_df['Comedy'] = comedyl
final_df['Family'] = familyl
final_df['Horror'] = horrorl
final_df['Sci_Fi'] = sci_fil
final_df['Romance'] = romancel
final_df['Music'] = musicl
final_df['Fantasy'] = fantasyl
final_df['Western'] = westernl
final_df['War'] = warl
final_df['Sport'] = sportl
final_df['History'] = historyl
final_df['Biography'] = biographyl

print final_df.info()
final_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1058 entries, 0 to 1057
Data columns (total 52 columns):
Title                1058 non-null object
Year                 1058 non-null int64
tomatoMeter          1058 non-null object
tomatoRating         1058 non-null object
tomatoReviews        1058 non-null object
tomatoUserMeter      1058 non-null object
tomatoUserRating     1058 non-null object
tomatoUserReviews    1058 non-null object
Metascore            1058 non-null object
imdbRating           1058 non-null object
imdbVotes            1058 non-null object
imdbID               1058 non-null object
Awards               1058 non-null object
Genre                1058 non-null object
Language             1058 non-null object
Country              1058 non-null object
Director             1058 non-null object
Rated                1058 non-null object
Runtime              1058 non-null object
Actors               1058 non-null object
Production           1058 non-null object
Writer               1058 non-null object
budget_usd_fixed     1056 non-null object
gross_usd_fixed      1056 non-null object
wkend_usd_fixed      1056 non-null object
gross_incforeign     503 non-null object
budget_incforeign    485 non-null object
wkend_incforeign     317 non-null object
Award_count          1058 non-null int64
Noms_count           1058 non-null int64
Noms+Awards          1058 non-null int64
PrimaryLanguage      1058 non-null object
PrimaryLangFixed     1058 non-null object
Crime                1058 non-null int64
Drama                1058 non-null int64
Thriller             1058 non-null int64
Action               1058 non-null int64
Adventure            1058 non-null int64
Film_Noir            1058 non-null int64
Mystery              1058 non-null int64
Comedy               1058 non-null int64
Family               1058 non-null int64
Horror               1058 non-null int64
Sci_Fi               1058 non-null int64
Romance              1058 non-null int64
Music                1058 non-null int64
Fantasy              1058 non-null int64
Western              1058 non-null int64
War                  1058 non-null int64
Sport                1058 non-null int64
History              1058 non-null int64
Biography            1058 non-null int64
dtypes: int64(23), object(29)
memory usage: 438.1+ KB
None

,Title,Year,tomatoMeter,tomatoRating,tomatoReviews,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,Metascore,imdbRating,...,Horror,Sci_Fi,Romance,Music,Fantasy,Western,War,Sport,History,Biography
0,12,2007,76,6.8,58,83,3.5,47296,72,7.8,...,0,0,0,0,0,0,0,0,0,0
1,13,2010,8,3.8,13,34,2.9,5577,29,6.1,...,0,0,0,0,0,0,0,0,0,0
2,13 Assassins,2010,96,8.0,120,89,4.1,23219,84,7.6,...,0,0,0,0,0,0,0,0,0,0
3,The 13th Letter,1951,83,7.0,6,N/A,N/A,116,N/A,6.6,...,0,0,0,0,0,0,0,0,0,0
4,101 Dalmatians,1996,38,5.3,34,40,2.9,624911,49,5.6,...,0,0,0,0,0,0,0,0,0,0

In [572]:
#7.  Now deal with parsing Country.  Just like with language, create new variable to hold primary country
#I see now I should have written a more general function and just called it again here.

def country(column):
    primary = []
    for cell in column:
        cell = str(cell)
        country = cell.split(',')
        primary_country = country[0]
        primary.append(primary_country)
    return primary

primary = language(final_df['Country'])
final_df['PrimaryCountry'] = primary

In [573]:
#8. Finally deal with Rating
# Or maybe not: look at the below -- I don't think this variation looks too useful.  Could return to later if needed.
final_df.Rated.value_counts()

N/A          252
R            225
APPROVED     141
PG-13        116
PG           100
NOT RATED     84
UNRATED       56
PASSED        55
G             14
TV-G           4
GP             4
TV-PG          3
X              1
M              1
NC-17          1
TV-14          1
Name: Rated, dtype: int64

In [574]:
#Last but not least: GO THROUGH AND TURN ALL THE THINGS THAT SHOULD BE #S INTO #s
#Function to replace #s with numbers, and to replace empty string and "N/A" with NaN

def map_number(cell):
    cell = str(cell)
    if cell == "" or cell == "N/A" or cell == "nan":
        return np.nan
    else:
        return float(cell)

In [575]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1058 entries, 0 to 1057
Data columns (total 53 columns):
Title                1058 non-null object
Year                 1058 non-null int64
tomatoMeter          1058 non-null object
tomatoRating         1058 non-null object
tomatoReviews        1058 non-null object
tomatoUserMeter      1058 non-null object
tomatoUserRating     1058 non-null object
tomatoUserReviews    1058 non-null object
Metascore            1058 non-null object
imdbRating           1058 non-null object
imdbVotes            1058 non-null object
imdbID               1058 non-null object
Awards               1058 non-null object
Genre                1058 non-null object
Language             1058 non-null object
Country              1058 non-null object
Director             1058 non-null object
Rated                1058 non-null object
Runtime              1058 non-null object
Actors               1058 non-null object
Production           1058 non-null object
Writer               1058 non-null object
budget_usd_fixed     1056 non-null object
gross_usd_fixed      1056 non-null object
wkend_usd_fixed      1056 non-null object
gross_incforeign     503 non-null object
budget_incforeign    485 non-null object
wkend_incforeign     317 non-null object
Award_count          1058 non-null int64
Noms_count           1058 non-null int64
Noms+Awards          1058 non-null int64
PrimaryLanguage      1058 non-null object
PrimaryLangFixed     1058 non-null object
Crime                1058 non-null int64
Drama                1058 non-null int64
Thriller             1058 non-null int64
Action               1058 non-null int64
Adventure            1058 non-null int64
Film_Noir            1058 non-null int64
Mystery              1058 non-null int64
Comedy               1058 non-null int64
Family               1058 non-null int64
Horror               1058 non-null int64
Sci_Fi               1058 non-null int64
Romance              1058 non-null int64
Music                1058 non-null int64
Fantasy              1058 non-null int64
Western              1058 non-null int64
War                  1058 non-null int64
Sport                1058 non-null int64
History              1058 non-null int64
Biography            1058 non-null int64
PrimaryCountry       1058 non-null object
dtypes: int64(23), object(30)
memory usage: 446.3+ KB

In [576]:
#Now map that onto all the relevant columns    
reallyfinal_df = final_df

reallyfinal_df['tomatoMeter'] = map(map_number, reallyfinal_df['tomatoMeter'])
reallyfinal_df['tomatoRating'] = map(map_number, reallyfinal_df['tomatoRating'])
reallyfinal_df['tomatoReviews'] = map(map_number, reallyfinal_df['tomatoReviews'])
reallyfinal_df['tomatoUserMeter'] = map(map_number, reallyfinal_df['tomatoUserMeter'])
reallyfinal_df['tomatoUserRating'] = map(map_number, reallyfinal_df['tomatoUserRating'])
reallyfinal_df['tomatoUserReviews'] = map(map_number, reallyfinal_df['tomatoUserReviews'])
reallyfinal_df['Metascore'] = map(map_number, reallyfinal_df['Metascore'])
reallyfinal_df['imdbRating'] = map(map_number, reallyfinal_df['imdbRating'])
reallyfinal_df['imdbVotes'] = map(map_number, reallyfinal_df['imdbVotes'])

reallyfinal_df['Runtime'] = map(map_number, reallyfinal_df['Runtime'])

reallyfinal_df['budget_usd_fixed'] = map(map_number, reallyfinal_df['budget_usd_fixed'])
reallyfinal_df['gross_usd_fixed'] = map(map_number, reallyfinal_df['gross_usd_fixed'])
reallyfinal_df['wkend_usd_fixed'] = map(map_number, reallyfinal_df['wkend_usd_fixed'])

reallyfinal_df.info()

#Don't think I need to do this to these columns:
#reallyfinal_df['imdbID'] = map(make_empty, reallyfinal_df['imdbID'])
#reallyfinal_df['Language'] = map(make_empty, reallyfinal_df['Language'])
#reallyfinal_df['Country'] = map(make_empty, reallyfinal_df['Country'])
#reallyfinal_df['Director'] = map(make_empty, reallyfinal_df['Director'])
#reallyfinal_df['Rated'] = map(make_empty, reallyfinal_df['Rated'])
#reallyfinal_df['Actors'] = map(make_empty, reallyfinal_df['Actors'])
#reallyfinal_df['Production'] = map(make_empty, reallyfinal_df['Production'])
#reallyfinal_df['Writer'] = map(make_empty, reallyfinal_df['Writer'])

#These are already good because I made them #s above
#reallyfinal_df['Award_count'] = map(map_number, reallyfinal_df['Award_count'])
#reallyfinal_df['Noms_count'] = map(map_number, reallyfinal_df['Noms_count'])
#reallyfinal_df['Noms+Awards'] = map(map_number, reallyfinal_df['Noms+Awards'])

#WOULD PROBABLY LIKE TO COME BACK AND TURN THESE INTO NUMBERS IF POSSIBLE LATER
#reallyfinal_df['gross_incforeign'] = map(map_number, reallyfinal_df['gross_incforeign'])
#reallyfinal_df['budget_incforeign'] = map(map_number, reallyfinal_df['budget_incforeign'])
#reallyfinal_df['wkend_incforeign'] = map(map_number, reallyfinal_df['wkend_incforeign'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1058 entries, 0 to 1057
Data columns (total 53 columns):
Title                1058 non-null object
Year                 1058 non-null int64
tomatoMeter          642 non-null float64
tomatoRating         642 non-null float64
tomatoReviews        642 non-null float64
tomatoUserMeter      874 non-null float64
tomatoUserRating     874 non-null float64
tomatoUserReviews    921 non-null float64
Metascore            250 non-null float64
imdbRating           1041 non-null float64
imdbVotes            1041 non-null float64
imdbID               1058 non-null object
Awards               1058 non-null object
Genre                1058 non-null object
Language             1058 non-null object
Country              1058 non-null object
Director             1058 non-null object
Rated                1058 non-null object
Runtime              1026 non-null float64
Actors               1058 non-null object
Production           1058 non-null object
Writer               1058 non-null object
budget_usd_fixed     438 non-null float64
gross_usd_fixed      460 non-null float64
wkend_usd_fixed      293 non-null float64
gross_incforeign     503 non-null object
budget_incforeign    485 non-null object
wkend_incforeign     317 non-null object
Award_count          1058 non-null int64
Noms_count           1058 non-null int64
Noms+Awards          1058 non-null int64
PrimaryLanguage      1058 non-null object
PrimaryLangFixed     1058 non-null object
Crime                1058 non-null int64
Drama                1058 non-null int64
Thriller             1058 non-null int64
Action               1058 non-null int64
Adventure            1058 non-null int64
Film_Noir            1058 non-null int64
Mystery              1058 non-null int64
Comedy               1058 non-null int64
Family               1058 non-null int64
Horror               1058 non-null int64
Sci_Fi               1058 non-null int64
Romance              1058 non-null int64
Music                1058 non-null int64
Fantasy              1058 non-null int64
Western              1058 non-null int64
War                  1058 non-null int64
Sport                1058 non-null int64
History              1058 non-null int64
Biography            1058 non-null int64
PrimaryCountry       1058 non-null object
dtypes: float64(13), int64(23), object(17)
memory usage: 446.3+ KB

In [578]:
#Save this dataframe to a CSV file locally
reallyfinal_df.to_csv('final_movies.csv', encoding='utf-8')